body {
    background-color: rgb(0, 0, 0);   
    align-items: center;
}

.title1 {
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: rgb(255, 255, 255);  
}
