body {
    background-color: rgb(0, 0, 0);   
}

.container {
    display: flex; 
    align-items: center; 
    justify-content: center;
    height: 100vh; 
    flex-direction: column;
    text-align: center;
}

.title1 {
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: rgb(255, 255, 255);  
}

.title2 {
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 42px;
    color: rgb(255, 255, 255);  
}

.description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: rgb(152, 152, 152);  
}

.link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: rgb(0, 224, 220);  
}
